h1, h2, h3, h4, h5, h6 {
    color: #444;
    margin: 0 0 10px;
}

h1, h2, h3, p {
    padding-left: 10px;
}

article .left ~ p {
    float: left;
    box-sizing: border-box;
    padding-right: 1rem;
    clear: both;
    width: 50%;
}

article .right {
    float: right;
    clear: right;
    margin-bottom: 1rem;
    width: 45%;
}

@media print, screen and (max-width: 580px) {
article .right, article .left {
    width: 100%;
    float: none;
    clear: none;
}
}

article .clear {
    clear: both;
}